@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-bg dark:bg-bg-dark text-text dark:text-text-dark transition-colors duration-300;
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-gray-100 dark:bg-gray-900;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-gray-400 dark:bg-gray-600 rounded-full border-2 border-gray-100 dark:border-gray-900 hover:bg-primary transition-colors;
  }
}
